/* peringatan */
.peringatan-banner {
	background-color: #000;
	color: #fff;
	padding: 10px 10px;
}

.peringatan-text {
	font-size: 1rem;
	display: flex;
	align-items: center;
}

.peringatan-text i {
	color: #ffcc00;
	font-size: 1.3rem;
	margin-right: 10px;
}

.peringatan-text strong {
	font-weight: 700;
}

.peringatan-logo img {
	height: 50px;
}

.peringatan-logo small {
	font-size: 0.6rem;
	color: #ccc;
}

/* .discount__pic {
	height: 387px;
} */



/* home cooming son label */
.coming-soon-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    /* background-color: #ff5e57; */
    border: #ca1515 1px solid;
    color: #ca1515;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    /* border-radius: 20px; */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 10;
    text-transform: uppercase;
}


/* background gradasi */
.gradient-bg {
  background: linear-gradient(to right, #8000ff, #00ff66); /* dari ungu ke hijau */
  min-height: 100vh; /* biar full satu layar */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* caraousel banner*/
.carousel-control-prev, .carousel-control-next {
  background-color: rgba(138, 43, 226, 0.5); /* warna ungu transparan */
  width: 50px; /* bisa disesuaikan */
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%; /* agar bulat */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 70% 70%; /* biar ikon tidak kepenuhan */
}

/* .carousel-inner img {
        height: 400px;
        object-fit: cover;
    } */

    /* @media (max-width: 768px) {
        .carousel-inner img {
            height: 300px;
        }
    } */

/* end */



/*** Team Start ***/

:root {
  --bs-secondary: #00ff66;
  --bs-white: #ffffff;
  --bs-primary: #8000ff;
}

/* .team-item {
    border-top: 30px solid var(--bs-primary) ;
    background: rgba(239, 239, 241, 0.8);
} */

.team-content::before {
    height: 200px;
    display: block;
    content: "";
    position: relative;
    top: -101px;
    /* background: var(--bs-primary); */
    background: linear-gradient(to right, #8000ffb4, #00ff6697);
    clip-path: polygon(50% 50%, 100% 50%, 50% 100%, 0% 50%);
    padding: 60px;
    opacity: 1;
}

.team-img-icon {
    position: relative;
    margin-top: -200px;
    padding: 30px;
    padding-bottom: 0;
}

.team-img {
    border: 15px solid var(--bs-white);
}

.team-img img {
    /* border: 10px solid var(--bs-secondary); */
    transition: .5s;
    /* height: 200px; */

}

/* .team-item:hover h4 {
    color: var(--bs-primary);
    transition: .5s;
} */

.team-item:hover .team-img img {
    transform: scale(1.05);
    /* border: 5px solid var(--bs-secondary); */
}

.team-carousel .owl-stage {
    position: relative;
    width: 100%;
    height: 100%;
}

.team-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 50px;
    display: flex;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin-left: 15px;
    background: var(--bs-secondary);
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

@media (max-width: 992px) {
    .team-carousel {
        margin-top: 3rem;
    }

    .team-carousel .owl-nav {
        top: -85px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        margin-left: -15px;
    }
}

/*** Team Start ***/

/* whatssap ngambang */

.whatsapp-float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-float img {
  width: 28px;
  height: 28px;
}

/* about */

.progress-circle {
      position: relative;
      width: 90px;
      height: 90px;
      margin: 1rem auto 1rem auto;
    }

    .progress-circle svg {
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
    }

    .progress-circle circle {
      fill: none;
      stroke-width: 12;
    }

    .progress-bg {
      stroke: #ddd;
    }

    .progress-bar {
      stroke: url(#grad);
      stroke-linecap: round;
    }

    .progress-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      font-weight: bold;
    }

    .ticks {
      position: absolute;
      inset: -6px;
      transform: rotate(-90deg);
      z-index: 1;
    }

    .ticks::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: repeating-conic-gradient(#aaa 0deg 1deg, transparent 1deg 3deg);
      border-radius: 50%;
      mask-image: radial-gradient(circle at center, transparent 60%, black 61%);
      -webkit-mask-image: radial-gradient(circle at center, transparent 60%, black 61%);
    }

    .circle-text h5 {
      font-size: 1.1rem;
      font-weight: 600;
    }

    .circle-text p {
      font-size: 0.9rem;
      color: #555;
      margin: 0;
    }

    @media (max-width: 576px) {
      .progress-text {
        font-size: 16px;
      }

      .circle-text h5 {
        font-size: 1rem;
      }

      .circle-text p {
        font-size: 0.8rem;
      }
    }

    .factory-card {
      background-color: #3b5664;
      color: white;
      padding: 30px;
    }
    .factory-card h5 {
      font-size: 14px;
      border: 2px solid white;
      padding: 6px 20px;
      display: inline-block;
      border-radius: 25px;
      font-weight: bold;
    }
    .factory-card h2 {
      font-weight: 600;
      font-size: 24px;
      margin-top: 20px;
    }
    .factory-card p {
      font-size: 14px;
      margin-top: 15px;
    }
    .wave {
      margin-top: 20px;
    }
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .img-wrapper {
      height: 100%;
    }
    @media (max-width: 768px) {
      .factory-card {
        padding: 20px;
      }
      .factory-card h2 {
        font-size: 20px;
      }
    }

    
    
    .certificate-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: #2d4c5b;
      margin-bottom: 30px;
    }

    .certificate-img {
      border: 1px solid #ccc;
      padding: 5px;
      background-color: #fff;
      width: 100%;
      height: auto;
      object-fit: contain;
      
    }

    .thumb-img {
      border: 1px solid #ddd;
      padding: 5px;
      background-color: #fff;
      width: 100%;
      height: 200px;
      object-fit: contain;
      margin: 20px;
    }

    @media (max-width: 768px) {
      .thumb-img {
        height: 160px;
        margin: 10px;
      }
    }

/* end about */

/* details produk */
  .icon-circle {
    width: 80px;
    height: 80px;
    border: 2px solid #3b5664;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    font-size: 32px;
    color: #3b5664;
  }

  .label-title {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #3b5664;
  }

  .label-value {
    font-size: 24px;
    font-weight: 600;
    color: #3b5664;
  }

  /* btn gradient */
  .btn-gradient {
  background: linear-gradient(to right, #9f3fff, #3b5664);
  border: none;
  color: #fff;
  transition: 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.btn-gradient:hover {
  background: linear-gradient(to right, #3b5664, #9f3fff);
  color: #fff;
}

/* h1 franchise */
.responsive-heading {
        font-size: 2.5rem; /* default */
    }

    @media (min-width: 576px) {
        .responsive-heading {
            font-size: 3rem;
        }
    }

    @media (min-width: 768px) {
        .responsive-heading {
            font-size: 3.5rem;
        }
    }

    @media (min-width: 992px) {
        .responsive-heading {
            font-size: 4rem;
        }
    }

/* filter shop */
.filter-btn.active {
    font-weight: bold;
    color: #9f3fff !important;
    border-bottom: 2px solid #9f3fff;
  }

.card-heading {
    font-size: 16px;
    /* font-weight: bold; */
    color: #3b5664;
    margin-bottom: 20px;
}

.card-heading a{
    color: #3b5664;
    text-decoration: none;
}
  
.product__wrapper {
    transition: all 0.4s ease;
}
